<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSP-topic2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Problem2</display-name>
    <servlet-name>Problem2</servlet-name>
    <servlet-class>jspbean.Problem2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Problem2</servlet-name>
    <url-pattern>/Problem2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Problem3AddEmployee</display-name>
    <servlet-name>Problem3AddEmployee</servlet-name>
    <servlet-class>jspbean.Problem3AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Problem3AddEmployee</servlet-name>
    <url-pattern>/Problem3AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Problem3DeleteEmployee</display-name>
    <servlet-name>Problem3DeleteEmployee</servlet-name>
    <servlet-class>jspbean.Problem3DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Problem3DeleteEmployee</servlet-name>
    <url-pattern>/Problem3DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Problem3DisplayAllEmployee</display-name>
    <servlet-name>Problem3DisplayAllEmployee</servlet-name>
    <servlet-class>jspbean.Problem3DisplayAllEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Problem3DisplayAllEmployee</servlet-name>
    <url-pattern>/Problem3DisplayAllEmployee</url-pattern>
  </servlet-mapping>
</web-app>