<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TM-13</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.wipro.services.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeServlet</display-name>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>com.wipro.services.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/DeleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet1</display-name>
    <servlet-name>UpdateEmployeeServlet1</servlet-name>
    <servlet-class>com.wipro.services.UpdateEmployeeServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet1</servlet-name>
    <url-pattern>/UpdateEmployeeServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet2</display-name>
    <servlet-name>UpdateEmployeeServlet2</servlet-name>
    <servlet-class>com.wipro.services.UpdateEmployeeServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet2</servlet-name>
    <url-pattern>/UpdateEmployeeServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayEmployeeServlet</display-name>
    <servlet-name>DisplayEmployeeServlet</servlet-name>
    <servlet-class>com.wipro.services.DisplayEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayEmployeeServlet</servlet-name>
    <url-pattern>/DisplayEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllEmployeeServlet</display-name>
    <servlet-name>DisplayAllEmployeeServlet</servlet-name>
    <servlet-class>com.wipro.services.DisplayAllEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllEmployeeServlet</servlet-name>
    <url-pattern>/DisplayAllEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wipro.services.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.wipro.services.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>